node_modules
.DS_Store
dist
.next
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Terraform
terraform.tfstate
terraform.tfstate*.backup
.terraform
.terraform.lock.hcl
*.tfvars
!dev.tfvars
*.tfplan
*.tfvars.json
*.tfvars
.terraformrc
terraform.rc
crash.log
crash.*.log

out/